<!-- src/app/footer/footer.component.html -->
<footer class="footer">
    <div class="footer-content">
      <div class="footer-title">Follow us on</div>
      <div class="social-icons">
        <!-- WhatsApp Icon -->
        <a href="https://wa.me/1234567890" target="_blank" class="social-icon">
            <i class="fa-brands fa-square-whatsapp"></i>
          <mat-icon fontIcon="whatsapp" class="icon whatsapp-icon"></mat-icon>
        </a>
  
        <!-- Instagram Icon -->
        <a href="https://www.instagram.com" target="_blank" class="social-icon">
            <i class="fa-brands fa-square-instagram"></i>
          <mat-icon fontIcon="instagram" class="icon instagram-icon"></mat-icon>
        </a>
  
        <!-- Twitter Icon -->
        <a href="https://twitter.com" target="_blank" class="social-icon">
            <i class="fa-brands fa-square-x-twitter"></i>
          <mat-icon fontIcon="twitter" class="icon twitter-icon"></mat-icon>
        </a>
  
        <!-- Facebook Icon -->
        <a href="https://facebook.com" target="_blank" class="social-icon">
            <i class="fa-brands fa-facebook"></i>
          <mat-icon  class="icon facebook-icon"></mat-icon>
        </a>
      </div>
      <p class="footer-copyright">© 2024 Your Company. All Rights Reserved.</p>
    </div>
  </footer>
  
